{{!< default}}

{{#post}}
<main>
    <article id="post">
        <span>{{date published_at format="DD MMMM . YYYY"}}</span>
        <header>
            <h1>{{title}}</h1>
        </header>
        {{#if feature_image}}
        <figure>
            <img src="{{img_url feature_image}}" alt="{{title}}" />
        </figure>
        {{/if}}

        <section id="content">
            {{content}}
        </section>

        {{!-- Email subscribe form at the bottom of the page --}}
        {{!-- {{#if @labs.members}}
            {{> subscribe-form}}
        {{/if}} --}}

        {{!--
        <section class="post-full-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

        <div id="likes">
            <hr>
            <div class="stat like">
                <img src="/assets/icons/heart.svg" alt="like">
                <img src="/assets/icons/heart fill.svg" alt="liked">
                <span>0</span>
            </div>
            <div class="stat view">
                <span>0</span>
                <img src="/assets/icons/eye.svg" alt="views">
            </div>
        </div>
        <hr>
        <aside>
            {{#foreach tags}}
                <a href="{{url}}" class="tag" title="{{name}}">{{name}}</a>
            {{/foreach}}
        </aside>
    </article>
</main>

{{!-- related posts --}}
{{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="4" as |related_posts|}}
        {{#if related_posts}}
        <aside id="related">
            <header>
                <h1>پست های مشابه</h1>
            </header>
            {{#foreach related_posts}}
                {{> postcard}}
            {{/foreach}}
        </aside>
        {{/if}}
    {{/get}}
{{/if}}

{{/post}}


<script>
    window.addEventListener('DOMContentLoaded', e => {
        let galls = document.querySelectorAll(".kg-gallery-card")
        for(let kg of galls) {
            let gallc = document.createElement('div')
            let gall = kg.querySelector(".kg-gallery-container")
            kg.innerHTML = ""
            kg.appendChild(gallc)
            gallc.appendChild(gall)
            gallc.classList.add("swiper-container")
            let imgs = gall.querySelectorAll("img")
            gall.innerHTML = ""
            gall.classList.add("swiper-wrapper")
            for(let img of imgs) {
                gall.appendChild(img)
                img.classList.add("swiper-slide")
            }
            let pagination = document.createElement('div')
            gallc.appendChild(pagination)
            pagination.classList.add("swiper-pagination")

            let next = document.createElement('div')
            kg.appendChild(next)
            next.classList.add("swiper-button-next")
            next.classList.add("swiper-button")
            next.addEventListener('click', e => {
                gallc.swiper.slideNext()
            })

            let prev = document.createElement('div')
            kg.appendChild(prev)
            prev.classList.add("swiper-button-prev")
            prev.classList.add("swiper-button")
            prev.addEventListener('click', e => {
                gallc.swiper.slidePrev()
            })

            // let scroll = document.createElement('div')
            // kg.appendChild(scroll)
            // scroll.classList.add("swiper-scrollbar")
        }
        // init swiper
        let swiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: { el: '.swiper-pagination' },
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },
            // scrollbar: { el: '.swiper-scrollbar' },
        })
        let likes = document.querySelector(".stat.like")
        let likespan = document.querySelector(".stat.like span")
        let viewspan = document.querySelector(".stat.view span")
        {{#post}}
        likes.onclick = e => {
            if(!likes.classList.contains("liked")) {
                likes.classList.add("liked")
                fetch("/like/{{slug}}", { method: "post" })
                .then(res => {
                    let now = likespan.innerHTML
                    likespan.innerHTML = now - 1 + 2
                })
                .catch(console.error)
            }
        }
        fetch("/info/{{slug}}")
        .then(res => res.json())
        .then(info => {
            likespan.innerHTML = info.like
            viewspan.innerHTML = info.view
        })
        .then(fetch("/view/{{slug}}", { method: "post" }))
        .catch(console.error)
        {{/post}}
    })
</script>